<style>
.top {
    background-color: #006400;
    border-top: 2px solid #FFF;
    height: 4px;
}

.top-black {
    background-color: #6C5C5C !important;
}

.top-blue {
    background-color: darkblue !important;
}

.card-text {
    font-size: 0.8em;
    line-height: 15px;
    text-align: left;
}

.card {
    /*margin-bottom: 6%;*/
}
</style>
<ion-view view-title="Home">
    <ion-content>
        <div class="card">
            <div class="top">
            </div>
            <div class="item item-text-wrap">
                <h3>Bem-vindo ao Tá Safo Conf 2015</h3>
                <p class="card-text" style="font-size: 0.8em;line-height: 15px;text-align: left;">Aqui você encontra todas as informações do evento diretamente do seu smartphone ou tablet. o Tá Safo Conf é organizado pela Comunidade Tá Safo. A proposito, você já conhece a Comunidade?</p>
                <p style="padding-top: 21px;float: right;padding-bottom: 21px;">
                    <a href="http://tasafo.wordpress.com/" target="_blank" style="color: green;text-decoration: none;font-weight: 500;font-size: 12px;font-stretch: extra-condensed;float: right;">CONHEÇA O TÁ SAFO!</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="top top-black">
            </div>
            <div class="item item-text-wrap">
                <h3>4 trilhas incríveis</h3>
                <p class="card-text" style="font-size: 0.8em;line-height: 15px;text-align: left;">Mobile e Game</p>
                <p class="card-text" style="font-size: 0.8em;line-height: 15px;text-align: left;">Desenvolvimento, Operações e testes</p>
                <p class="card-text" style="font-size: 0.8em;line-height: 15px;text-align: left;">Gestão, Negócio e Agilidade</p>
                <p class="card-text" style="font-size: 0.8em;line-height: 15px;text-align: left;">Inovação, Empreendedorismo e Comunidades</p>
                <p style="padding-top: 21px;float: right;padding-bottom: 21px;">
                    <a href="#/app/programacao" style="color: green;text-decoration: none;font-weight: 500;font-size: 12px;font-stretch: extra-condensed;float: right;">VER PROGRAMAÇÃO</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="top top-blue">
            </div>
            <div class="item item-text-wrap">
                <h3>39 palestrantes</h3>
                <p class="card-text" style="font-size: 0.8em;line-height: 15px;text-align: left;">Palestrantes vindo de todo canto do Brasil vieram confraternizar com a Comunidade!</p>
                <p style="padding-top: 21px;float: right;padding-bottom: 21px;">
                    <a href="" style="color: green;text-decoration: none;font-weight: 500;font-size: 12px;font-stretch: extra-condensed;float: right;">CONHEÇA OS PALESTRANTES</a>
                </p>
            </div>
        </div>
       <!--  <div>
        	<h3>Depoimentos</h3>
        	<p>Veja o que estas pessoas disseram sobre o Tá Safo Conf</p>
        	<p stye="padding-left:10%;padding-right:10%"><i>É uma oportundiade </i></p>
        </div> -->
    </ion-content>
</ion-view>
